.text-primary {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.text-secondary {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

* {

    padding: 0;
    /* margin: auto; */
    box-sizing: border-box;
}

/* Common-style */
.dark {
    color: rgba(137, 135, 161, 1);
}
.medium-font-size{
    font-size: 22px;
}

.yellow {
    color: #E95A08;
}
.button-primary{
    background-color: #E95A08;
    color: white;
    width: 100%;
    height: 50px;
    font-weight:500;
    border: none;
    padding: 10px;
    margin-top: 0px;
    margin-bottom:0px;
    border-radius: 5px;
    cursor: pointer;

}
.button-primary:hover{
    background-color: rgba(5, 57, 57, 0.726);
}

body {
    max-width: 1440px;
    background-color: #F5F8FF;
    margin: auto;
}

.nav-section {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

}

.nav-link {
    display: flex;
    gap: 48px;
    list-style: none;

}

nav ul a {
    text-decoration: none;
    color: black;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 460px;
    margin-top: 120px;
    margin-bottom: 0px;
}

.hero-title {
    font-weight: bold;
    font-size: 65px;
    margin-bottom: 0px;
}

.hero-p {
    margin-top: 5px;
    margin-bottom: 0px;
}

.hero-left {
    margin-top: 75px;
    align-items: center;
    width: 570px;
    

}

.hero-img {
    height: 355px;
    width: 576px;
}

/* Plant-section */

.plant-heading{
    font-size: 50px;
}
.plant-intro{
    margin-top:100px;
    text-align: center;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:20px;
}

.card {
   
    border-radius: 8px;
    margin-top: 20px;
    align-items: center;
    text-align: center;
}

.card-img{
    border-radius: 10px;
    width:100%;
    height:auto;
}
.flower-name{
    font-size: 1.375rem;
    font-weight:500;
  margin: 10px 0 5px;
}
.flower-price{
    width: 100%;
    font-weight: bold;
    font-size: 1.375rem;
    margin:0 0 10px;
    
}



/* <------Responsive Styles-----> */

@media screen and (max-width: 576px) {

    .nav-link .nav-item {
        display: none;

    }
    .logo{
        width:63px;
        height: 38px;
    }
    .nav-section {
        align-items: center;
        gap:185px;
        margin-left: 20px;
        margin-right: 10px;
    }
    
    .hero-section {
        flex-direction:column-reverse;
        margin-top: 60px;
    }
    .hero-title{
        font-size:1.5rem;
    }
    .hero-p{
        font-size: 14px;
    }

    .hero-left {
        margin-top: 20px;
        width:90%;
    }

    .hero-img {
        width: 100%;
        height: auto;
    }

    .plant-intro {
        margin-top: 30px;
    }

    .plant-heading {
        font-size: 1.5rem;
    }
    .plant-subt{
        font-size: 14px;
    }

    .card-container {
        grid-template-columns:repeat(2, 1fr);
        gap: 10px;
        padding: 0 10px;
    }

    .card {
        margin-top: 10px;
        width: 100%;
        margin-left: 0;
    }
    
}
